* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

a:link {
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    padding: 10px;
    background: #0288d1;
}

header img {
    width: 127px;
}

nav {
    background: #03a9f4;
    font-size: 20px;
    padding: 20px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
}
