* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

a:link {
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background: #eee;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    padding: 10px;
    background: #0288d1;
}

header img {
    width: 127px;
}

nav {
    background: #03a9f4;
    font-size: 20px;
    padding: 20px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0 100px 0;
}
.card {
    width: 250px;
    height: 480px;
    font-size: 17px;
    color: #212121;
    background: #fff;
    margin: 5px;
    padding: 20px;
    box-shadow: 1px 10px 10px #777;
}

.card:hover {
    box-shadow: 1px 10px 10px #03a9f4;
}

.card img {
    width: 100%;
}

.card p {
    margin-bottom: 20px;
}

.card a {
    background: #ff5252;
    color: #fff;
    width: 100px;
    padding: 10px;
    margin-left: 50%;
}

.card a:hover {
    background: #ff4141;
}
